<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.willpots.goes_fetcher</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>/Users/potter/workspace/goes-fetcher/run.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>300</integer>
    <key>StandardInPath</key>
    <string>/tmp/test.stdin</string>
    <key>StandardOutPath</key>
    <string>/tmp/test.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/test.stderr</string>
  </dict>
</plist>
